apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: asm-svt-topology
  namespace: {{ NAMESPACE }}
  labels:
    app.kubernetes.io/name: topology
    app.kubernetes.io/instance: asm-svt
spec:
  host: asm-svt-{{ NAMESPACE }}.{{ PROXY_DOMAIN }}
  path: /1.0/topology
  port:
    targetPort: https-topology-api
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: reencrypt
  to:
    kind: Service
    name: aiops-topology-topology
    weight: 100
  wildcardPolicy: None